/* Style the sidebar - fixed full height */
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color:gray;
  overflow-x: hidden;
  padding-top: 40px;
  margin-top:70px;
}

.sidebar ul{
	margin-left: 8px;
	
}

.sidebar ul li{
	font-size:20px;
	list-style-type:none;
	margin-top:10px;
	cursor:pointer;
}

.sidebar ul li ul {
	display:none;
	z-index:10;
	top:77px;
}

.sidebar ul li:hover ul{
	display:block;
	height:400px;
	
	padding:0 100px 10px 10px;
	position:fixed;
	background: gray;
}
.fa-angle-right {
	margin-right:8px;
	float:right;
}
/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #818181;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 980px) {
  .sidebar {
	  
	  z-index:20;
	  
	  position:fixed;
	  font-size:12px
	  }

   .sidebar ul li ul{
	   top:100px;
   }
   
    .sidebar ul li:hover ul{
		margin-left:11%;
	}
}

.navbar-brand {
	z-index:999;
}

.navbar{
	margin-bottom:200px;
}











.featured-categories{
	margin:0 0;
	margin-left:200px;
	margin-top:80px;
	margin-bottom:-80px;
}


.featured-categories img {
	width:100%;
	height:150px ;
	padding:20px 0;
	transition:1s;
	z-index:1;
	cursor:pointer;
}


.featured-categories img:hover {
    transform: scale(1.1);
}

.overlay-right{
	display:block;
	opacity:0;
	position:absolute;
	top:10%;
	margin-left:0;
	width:70px;
}
	
.overlay-right .fa{	
    cursor:pointer;
	background-color:green;
	color:black;
	height:35px;
	width:35px;
	font-size:20px;
	padding:7px;
	margin-top:5%;
	margin-bottom:5%;
}

.overlay-right .btn-secondary{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
}

.product-top:hover .overlay-right{
	opacity:1;
	margin-left:5%;
	transition:0.5s;
}

.product-bottom{
	margin-top:-30px;
}

.product-bottom h3{
	font-size:20px;
	font-weight:bold;
}


.product-bottom h5{
	font-size:15px;
	padding-bottom:10px;
}

.title-box{
	background:gray;
	color: red;
	width:180px;
	height:200px;
	padding:4px 10px;
	height:40px;
	margin-bottom:0;
	display:flex;
	margin-left:0px;
	
}

.title-box h2{
	padding:0 0;
	margin-top:0px;
	font-size:24px;
	
}

.title-box::after{
    content:'';
    border-top:40px solid gray;
    border-right:50px solid transparent;
    position:absolute;
    display:flex;
    margin-top:-4px;
    margin-left:170px;
}	