#feedback{
	
	margin-top:200px;
}

.col-md-3 img{
	margin-top:150px;
	height:280px;
	width:280px;
	margin-left:-40px;
	padding-left:20px;
	
}

.new-arrival{
	margin-top:150px;
	background:green;
	width:50px;
	color:black;
	font-size:12px;
	font-weight:bold;
	
}


.col-md-5{
	margin-left:10px; 
}

.single-product .price{
	color:black;
	font-size:26px;
	font-weight:bold;
	padding-top:20px;
}

.single-product input{
	border: 1px solid #ccc;
	font-weight: bold;
	height:33px;
	text-align:center;
	width:30px;
}

.single-product .btn-primary{
	background:gray !important;
	color:white;
	font-size:15px;
	margin-left:20px;
	border:none;
	box-shadow:none !important;
}

.product-description h3{
	margin-top:50px;
	color:black;
}

.product-description p{
	margin-top:30px;
}