.navbar-brand {
	z-index:999;
}

.navbar{
	margin-bottom:200px;
}











.featured-categories{
	margin:0 0;
	
	margin-top:80px;
	margin-bottom:-80px;
}


.featured-categories img {
	width:100%;
	height:200px ;
	padding:20px 0;
	transition:1s;
	z-index:1;
	cursor:pointer;
}


.featured-categories img:hover {
    transform: scale(1.1);
}

.overlay-right{
	display:block;
	opacity:0;
	position:absolute;
	top:10%;
	margin-left:0;
	width:70px;
}
	
.overlay-right .fa{	
    cursor:pointer;
	background-color:green;
	color:black;
	height:35px;
	width:35px;
	font-size:20px;
	padding:7px;
	margin-top:5%;
	margin-bottom:5%;
}

.overlay-right .btn-secondary{
	background:none !important;
	border:none !important;
	box-shadow:none !important;
}

.product-top:hover .overlay-right{
	opacity:1;
	margin-left:5%;
	transition:0.5s;
}

.product-bottom{
	margin-top:-30px;
}

.product-bottom h3{
	font-size:20px;
	font-weight:bold;
}


.product-bottom h5{
	font-size:15px;
	padding-bottom:10px;
}

.title-box{
	background:gray;
	color: red;
	width:180px;
	height:200px;
	padding:4px 10px;
	height:40px;
	margin-bottom:0;
	display:flex;
	margin-left:0px;
	
}

.title-box h2{
	padding:0 0;
	margin-top:0px;
	font-size:24px;
	
}

.title-box::after{
    content:'';
    border-top:40px solid gray;
    border-right:50px solid transparent;
    position:absolute;
    display:flex;
    margin-top:-4px;
    margin-left:170px;
}	